<div class="row py-5 justify-content-center">
  <div class="col-md-8">
    <h1 class="text-center py-4">Sign In with Google in Social-API</h1>
    <div *ngIf="!loggedIn">
      <form [formGroup]="signinForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" formControlName="email" />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" formControlName="password" />
        </div>
      </form>
      <div>
        <p>Or</p>
      </div>
      <div>
        <button type="button" (click)="signInWithGoogle()" class="btn btn-primary">
          Sign In With Google
        </button>
      </div>
    </div>
    <div *ngIf="loggedIn">
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" class="form-control" id="firstname" [value]="user.firstName" readonly />
      </div>
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" class="form-control" id="lastname" [value]="user.lastName" readonly />
      </div>
      <div class="form-group">
        <label for="email2">Email</label>
        <input type="text" class="form-control" id="email2" [value]="user.email" readonly />
      </div>
      <button type="button" (click)="signOut()" class="btn btn-primary">
        Sign Out
      </button>
    </div>
  </div>
</div>
