<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">{{ user?.name || "Guest" }}</a>
  <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="signOut()">
    Sign Out
  </button>
</nav>
<div class="container">
  <div class="row profile justify-content-center align-items-center p-2">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img [src]="user?.photoUrl" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{user?.name}}</h5>
          <p class="card-text">
            Email: {{user?.email}}
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="profile-content">
        // TODO :
        User posts goes here...
      </div>
    </div>
  </div>
</div>
